body {
    color: #113;
}
.photo-icon{
    text-align: center;
}
.photo-icon img{
    width: 400px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

#img_btn{
    position: relative;
    top: 15px;
    left: 200px;
}

#btn-profile1{

}

#btn-profile2{

}